<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %} - todo list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <nav>
        <h1>Todo list</h1>
        <ul>
            {% if g.user %}
            <li><span>{{ g.user['username'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Cerrar sesion</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.register') }}">Registrarse</a></li>
            <li><a href="{{ url_for('auth.login') }}">Iniciar sesion</a></li>
            {% endif %}
        </ul>
    </nav>
    <section>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>